@import "bootstrap";

body{
    background-color: #eee;
}

.searcharea{
    padding-top: 50px;
}

.result-block{
    background-color: azure;
    display: inline-block;
    margin-top: 10px;

}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}